@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:ital@1&family=Roboto:ital,wght@0,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(245, 211, 170);
    overflow: hidden;
}

.container{
    width: 45%;
    margin: 32px auto;
    
}
.header{
    height: 250px;
    text-align: center;

}
.header h1{
    color: white;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    position: relative; /*top-right-bottom-left*/
    animation: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /*animation-fill-mode: forwards;*/
    
}

@keyframes header{
    0%{top: -250px;}
    100% {top: 100px;}

}

.main{
    color: brown;
    font-family: 'Lato', sans-serif;  
    line-height: 1.5;

}
.text-left {
    position: relative;
    animation: textleft;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
@keyframes textleft {
    0% {left: -1000px;}
    85% {left: 20px;}
    100% {left: 0;}
}
.text-right{
    margin-top: 32px;
    position: relative;
    text-align: right;
    animation: textright;
    animation-duration: 5s;
}
@keyframes textright{
    0%{right: -1000px;}
    85%{right: 50px;}
    100%{right: 0;}
}
.footer{
    text-align: center;
}
.btn{
    opacity: 0;
    border: 2px solid white;
    color: blue;
    font-size: 2rem;
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    animation: aniBtn;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes aniBtn {
    0% {opacity: 0;} /*0-1*/
    100% {opacity: 1;}

}